@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #4ca8df;
    --primary-color-dark: #333333;
    --primary-color-light: #e9f7f7;
    --secondary-color: #ffff;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
  }


body{
    background-color: #9fbce4; 
    font-family: "Poppins", sans-serif;
  font-size: .8em;
}

/* NAVIGATION BAR  */

a {
    text-decoration: none;
  }

.link a {
    padding: 0.5rem;
    color: var(--text-dark);
    font-size: 1.3em;
  }
  
  .link a:hover {
    color: var(--white);
  }

.section__container {
    max-width: var(--max-width);
    margin: auto;
  }

.nav__container {
    padding: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .nav__logo span {
    color: var(--primary-color);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-left: 20rem;
  }

  .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--text-dark);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
/* END OF NAVIGATION BAR */

h1{
    font-size: 2.5rem;
    text-align: center;
     color: var(--text-dark);
    
}

.img-logo{
    width: 40%;
padding-bottom: 1rem;
    padding-top: 2rem;
}

input {
  margin: 8px 0 10px 0;
  width: 100%;
  height: 40px;
  
}

.login-container{
    border-radius: 5rem;
    background-color: white;
    margin: 4rem 7rem 0rem 10rem;   
    padding-left: 5rem;
}

.input-form{
    float: right;
    padding: 10px 40px 0 50px;
    width: 50%;
}

input[type='checkbox'] {
    float: none;
    width: 20px;
    height: auto;
  }

input[type="submit"] {
    width: 100%;
    font-size: 1.1rem;
    background-color: #9fbce4;
    cursor: pointer;
  }


@media (1270px>= width >=900px) {
  
  h1{
    font-size: 2rem;
  }

  .img-logo{
    display: block;
    margin: auto;
    padding-right: 4rem;
    width: 50%;
} 

.login-container{
  border-radius: 5rem;
  background-color: white;
  margin: 4rem 7rem 0rem 10rem;   
  /* padding-left: 5rem; */
  width: 60vw;
  height: 100vh;
}

.input-form{
  float: none;
  width: 50vw;
  height: 20vh;
  padding: 0px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-left: 8rem;
}

}

@media (900px>= width >=0px) {

  h1{
    font-size: 2rem;
  }

  .img-logo{
    display: block;
    margin: auto;
    padding-right: 4rem;
    width: 50%;
} 

.login-container{
  border-radius: 5rem;
  background-color: white;
  margin: 4rem;
  /* padding-left: 5rem; */
  width: 60vw;
  height: 80vh;
}

.input-form{
  /* float: right; */
  /* padding: 10px 40px 0 50px; */
  /* width: 50%; */
  
  float: none;
  width: 50vw;
  height: 40vh;
  padding: 0px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-left: 2rem;
  font-size: .5rem;
}

.btn {
  font-size: .5rem;
  white-space: nowrap;
  color: var(--text-dark);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

}
